<div class="error-page">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <h3>Cliente AngularJS</h3>
            <h4>API RESTful Backend JEE + Spring</h4>
            <h3><a href="https://gitlab.com/wito/JAVA-RESTful" target="_blank">Ver repositorio git</a></h3>
            <h3><a href="https://app.swaggerhub.com/apis/wit3/inventario/0.1.1" target="_blank">Documentacion APIREST (Building)</a></h3>
            <h5>Wilmer H. Muñoz</h5>
            <h5>Software Developer Full-Stack</h5>
            <h5>Systems Engineer</h5>
            <h5><a href="mailto:wilmerhmg@gmail.com">wilmerhmg@gmail.com</a> - 3183746067</h5>
        </div>
    </div>
</div>